@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..500;1,100..900&display=swap');

/* первый контейнер */

.section__menu {
	width: calc(100% - 40px);
	max-width: 1100px;
	margin: 0 auto;
}

.container {
	background-color: #EEEFF1;
	padding-top: 80px;
	padding-bottom: 80px;
}

.list__link {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.list__link-text {
	color: #000000;
	font-size: 16px;
	letter-spacing: 10%;
}

.active {
	color: #34547A;
	font-weight: 500;
}

.section1__main {
	margin: 160px 0 60px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 60px;
	max-width: 1100px;
	width: calc(100% - 40px);
	margin: 160px auto 40px;
}

.main__hdn {
	font-weight: 500;
	font-size: 48px;
	line-height: 164%;
	color: #000000;
}

.main__text {
	color: #727272;
	font-weight: 400;
	font-size: 16px;
	line-height: 164%;
	max-width: 540px;
}

.main__htn {
	background-color: #34547A;
	color: #FFFFFF;
	padding: 20px 55px;
	font-weight: 400;
	font-size: 16px;
}

/* второй контейнер */

.section__2 {
	background-color: #F9F9F9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 105px 0;
	gap: 50px;
}

.section2__main {
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #000000;
}

.section2__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 164%;
	letter-spacing: 0%;
	text-align: center;
	color: #727272;
	max-width: 540px;
}

/* третий контейнер */

.section__3 {
	background-color: #34547A;
}

.section3__list {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	gap: 40px;
	padding: 100px 20px;
}

.list__item {
	display: flex;
	align-items:center ;
	gap: 20px;
}

.section3__text {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
	max-width: 1000px;
	margin: 0 auto;
	justify-content: space-between;
}

.section3__text2 {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	line-height: 164%;
}

.section3__main {
	display: flex;
	flex-direction: column;
}

.section3__img {
	width: 50px;
}

/* Четвертый контейнер */

.section4__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	gap: 50px;
	position: relative;
}

.section4__text {
	color: #000000;
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
}

.section4__text2 {
	color: #727272;
	font-weight: 400;
	font-size: 16px;
	line-height: 164%;
	max-width: 540px;
	text-align: center
}

.section4__img {
	display: block;
	width: 100%;
	max-width: 1100px;
	height: auto;
}

.section4__img2 {
	position: absolute;
  left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10%;
	max-width: 100px;
	height: auto;
}

.section4__media {
	position: relative;
	width: 100%;
	max-width: 1100px;
}

/* пятый контейнер */

.section__5 {
	background-color:#34547A ;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section5__text {
	color:#FFFFFF ;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
}

.section5__text2 {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 13px;;
	line-height: 164%;
}

@media (max-width: 600px) {

	.list__link {
		gap: 16px 20px;
	}

.section1__main {
	margin-top: 60px;
	gap: 30px;
 }

	.main__hdn {
		font-size: 32px;
		line-height: 1.25;
	}

.section__2 {
	padding: 60px 20px;
	gap: 30px;
}

.section__5 {
	padding: 40px 20px;
	}

.section3__list {
	padding: 60px 20px;
	gap: 30px 20px;
}

.list__item {
	width: calc((100% - 20px) /2);
	gap: 12px;
}

.section4__main {
	padding: 60px 20px;
	gap: 30px;
}

}
