@use 'variables' as vars; 
@use 'mixins' as mixin;

.section__5 {
	background-color:vars.$color-primary ;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include mixin.mobile {
		padding: 40px 20px;
	}
}

.section5__text {
	color:vars.$color-white ;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
}

.section5__text2 {
	color: vars.$color-white;
	font-weight: 400;
	font-size: 13px;
	line-height: 164%;
}