@use 'variables' as vars;
@use 'mixins' as mixin;

.section__3 {
	background-color: vars.$color-primary;
}

.section3__list {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	gap: 40px;
	padding: 100px 20px;

	@include mixin.mobile {
	gap: 30px 20px;
	padding: 60px 20px;
	}
}

.list__item {


	@include mixin.mobile {
		width: calc((100% - 20px) / 2);
		gap: 12px;
	}

	display: flex;
	align-items:center ;
	gap: 20px;
}

.section3__text {
	color: vars.$color-white;
	font-weight: 500;
	font-size: 21px;
	line-height: 100%;
	max-width: 1000px;
	margin: 0 auto;
	justify-content: space-between;
}

.section3__text2 {
	color: vars.$color-white;
	font-weight: 400;
	font-size: 16px;
	line-height: 164%;
}

.section3__main {
	display: flex;
	flex-direction: column;
}

.section3__img {
	width: 50px;
}